/* color
#0f121b
#404040 */

a {
    text-decoration: none;
}

/* === SIDEBAR === */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #000;
    color: #FFFFFF; */
}

.role p {
    font-size: 20px;
}

.sidebar {
    background-color: #000;
    color: #FFFFFF;
    width: 250px;
    overflow: hidden;
    transition: all 0.5s linear;
    border-right: 1px solid #404040;
    /* border-top-right-radius: 20px; */
}

.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-top: 10px;
}

.sidebar span {
    color: #FFFFFF;
}

.sidebar a {
    display: block;
    padding: 10px;
}

.sidebar a:hover {
    background-color: #b8bcc3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 5px solid gray;
}

.sidebar a:hover span, .sidebar a:hover i {
    color: #27262a;
}

.sidebar .logout {
    padding: 0;
    margin-top: auto;
}

.sidebar .bi {
    color: white;
    padding-right: 20px;
}

/* === MAIN CONTENT === */
.main-content {
    min-width: 0;
}

/* navbar */
.user-role p {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

.bi-bell {
    font-size: 1.2rem;
}

.avatar-initials {
    width: 40px;
    height: 40px;
    background-color: #444;
    font-size: 15px;
}

.content-navbar .bi {
    color: #000;
}

.content-navbar .form-control {
    border: none;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
}

.content-navbar .form-control:focus {
    box-shadow: none;
}

.content-navbar .dropdown-toggle:focus {
    border: none;
}

.navbar-role {
    font-size: 13px;
}


/* header */
.greeting h3, .greeting p {
    margin: 0;
}

.greeting h3 {
    font-weight: bold;
    font-size: 2rem;
}

.greeting p {
    font-size: 1rem;
}

.quick-btn span, .quick-btn i {
    font-size: 1rem;
}

.quick-btn a {
    padding: 5px 8px;
    border: 2px solid black;
    border-radius: 5px;
    color: #000;
}

.quick-btn a:hover {
    background-color: #27262a;
    color: white;
}

.quick-btn a:hover span, .quick-btn a:hover i {
    color: #FFFFFF;
}


/* stat cards */
.stat-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cards {
    border-radius: 10px;
    background-color: #000;
    color: #FFFFFF;
    padding: 1rem 1.3rem;
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.stat-value {
    font-weight: bold;
    font-size: 2rem;
}

.stat-label {
    margin-top: 13px;
}

.cards .bi {
    font-size: 1.3rem;
}


/* recent members */
.recent-members {
    /* border: 1px solid black; */
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.table-title p, .table-title a {
    /* border: 1px solid white; */
    margin: 0;
}

.recent-members a {
    color: #000;
    background-color: #FFFFFF;
    font-weight: bold;
    border-radius: 20px;
}

.recent-members-table, thead, th {
    /* border: 1px solid white; */
}

.recent-members-table th, .recent-members-table td {
    padding: 17px;
    border-bottom: 1px solid #404040;
} 

.recent-members-table .plan, .recent-members-table .join {
    font-size: 0.9rem;
}

.badge-active {
    background-color: #aede9e;
    color: #30720a;
}

.badge-expired {
    background-color: #f49ea4;
    color: #9e1c25;
}