/* color
#0f121b
#404040 */


div, img, p, ul, a, li {
    /* border: 1px solid white; */
}

a {
    text-decoration: none;
}

/* === SIDEBAR === */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
}

.role p {
    font-size: 20px;
}

.sidebar {
    background-color: #000;
    color: #FFFFFF;
    width: 250px;
    overflow: hidden;
    transition: all 0.5s linear;
    border-right: 1px solid #404040;
}

.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-top: 10px;
}

.sidebar span {
    color: #FFFFFF;
}

.sidebar a {
    display: block;
    padding: 10px;
}

.sidebar a:hover {
    background-color: #b8bcc3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 5px solid gray;
}

.sidebar a:hover span,
.sidebar a:hover i {
    color: #27262a;
}

.sidebar .logout {
    padding: 0;
    margin-top: auto;
}

.bi {
    color: white;
    padding-right: 20px;
}

/* === MAIN CONTENT === */
.main-content {
    min-width: 0;
}