/* color
#0f121b
#404040 */
body {
    font-family: "Inter", sans-serif;
}

/* === MAIN CONTENT === */

/* header */
.greeting h3, .greeting p {
    margin: 0;
}

.greeting h3 {
    font-weight: bold;
    font-size: 2rem;
    font-family: "Lora", serif;
}

.greeting p {
    font-size: 1rem;
}

.quick-btn span, .quick-btn i {
    font-size: 1rem;
}

.quick-btn a {
    padding: 5px 8px;
    border: 2px solid black;
    border-radius: 5px;
    color: #000;
}

.quick-btn a:hover {
    background-color: #27262a;
    color: white;
}

.quick-btn a:hover span, .quick-btn a:hover i {
    color: #FFFFFF;
}


/* stat cards */
.stat-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cards {
    border-radius: 10px;
    background-color: #000;
    color: #FFFFFF;
    padding: 1rem 1.3rem;
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.stat-value {
    font-weight: bold;
    font-size: 2rem;
}

.stat-label {
    margin-top: 13px;
}

.cards .bi {
    font-size: 1.3rem;
}


/* recent members */
.recent-members-table {
    /* border: 1px solid black; */
    border-radius: 10px;
    /* color: #FFFFFF;
    background-color: #000; */
    background-color: #FFFFFF;
    color: #000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.table-title p, .table-title a {
    /* border: 1px solid white; */
    margin: 0;
}

.recent-members a {
    color: #FFFFFF;
    background-color: #000;
    font-weight: bold;
    border-radius: 20px;
}

.add-member:hover {
    background-color: #27262a;
    color: #FFFFFF;
}

.recent-members-table th {
    padding: 17px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 1.1rem;
    background-color: #000;
    color: #f0f0f0;
} 

.recent-members-table td {
    padding: 17px;
}

.recent-members-table .plan, .recent-members-table .join {
    font-size: 0.9rem;
}

.badge-active {
    background-color: #aede9e;
    color: #30720a;
}

.badge-expired {
    background-color: #f49ea4;
    color: #9e1c25;
}

/* recent payments and expiring soon */
.recent-payments, .expiring-soon {
    background-color: #000;
    color: #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    border-radius: 10px;
}

.title .view-all {
    background-color: #FFFFFF;
    color: #000;
    border-radius: 20px;
    font-weight: bold;
}

.view-all:hover {
    background-color: #27262a;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.title .days {
    font-size: 16px;
}

.payment-row p {
    margin: 0;
}

.payment-row:last-child {
    margin-bottom: 0 !important;
}

.payment-row .text-secondary,
.expiring-soon .text-secondary {
    font-size: 0.9rem;
}

.payment-row {
    border-bottom: 1px solid #444;
}

.payment-row:last-child {
    border-bottom: none;
}
