/* header */
.greeting h3, .greeting p {
    margin: 0;
}

.greeting h3 {
    font-weight: bold;
    font-size: 2rem;
}

.greeting p {
    font-size: 1rem;
}
.add-btn a {
    color: #000;
    background-color: #FFFFFF;
    border: 2px solid #000;
    font-weight: bold;
    border-radius: 20px;
}

.add-btn a:hover {
    background-color: #27262a;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

/* filter */
.filter-btn a {
    margin-right: 10px;
    padding: 3px 15px;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 20px;
    color: #000;
}

.filter-btn a:hover {
    background-color: #27262a;
    color: #FFFFFF !important;
}

/* add member form */
.add-member-form form {
    background-color: #000;
    color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.form-label {
    font-weight: 500;
}

/* members table */
.badge-active {
    background-color: #aede9e;
    color: #30720a;
}

.badge-expired {
    background-color: #f49ea4;
    color: #9e1c25;
}

.member-table th, .member-table td {
    padding: 10px;
}

.member-table thead {
    border-bottom: 1px solid #b3b3b3;
    font-size: 1.1rem;
}

tbody tr {
    border-bottom: 1px solid #f0f0f0;
}

tbody tr:last-child {
    border: none;
}

.member-table .contact, .plan, .joined, .expired {
    font-size: 0.9rem;
}

.member-table {
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

/* avatar */
.avatar {
    /* border: 1px solid black; */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2b2b2b;
    color: #FFFFFF;
    font-size: 15px;
    padding: 18px;
    flex-shrink: 0;
}

.btn-icon:hover {
    color: #ff1818 !important;
}

.bi-pencil:hover {
    color: #000 !important;
}

