body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #000;
    color: #FFFFFF; */
}

a {
    text-decoration: none;
}

.role p {
    font-size: 20px;
}

.sidebar {
    background-color: #000;
    color: #FFFFFF;
    width: 260px;
    overflow: hidden;
    transition: all 0.5s linear;
    border-right: 1px solid #404040;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-top: 15px;
}

.sidebar li:first-child {
    margin-top: 30px;
}

.sidebar span {
    color: #FFFFFF;
    font-size: 15px;
}

.sidebar a {
    display: block;
    padding: 10px;
}

.sidebar a:hover, .active a {
    background-color: #b8bcc3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 6px solid gray;
}

.sidebar a:hover span, .sidebar a:hover i, .active a span, .active a .bi {
    color: #27262a;
}

.sidebar .logout {
    padding: 0;
    margin-top: auto;
}

.sidebar .bi {
    color: white;
    padding-right: 20px;
}
