/* header */
.greeting h3, .greeting p {
    margin: 0;
}

.greeting h3 {
    font-weight: bold;
    font-size: 2rem;
}

.greeting p {
    font-size: 1rem;
}
.add-btn a {
    color: #000;
    background-color: #FFFFFF;
    border: 2px solid #000;
    font-weight: bold;
    border-radius: 20px;
}

.add-btn a:hover {
    background-color: #27262a;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

/* staff cards */
.parents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.staff-card {
    /* box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15); */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    /* border: 2px solid #27262a; */
    background-color: #000;
    color: #FFFFFF;
    transition: transform 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
}

.staff-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(116, 114, 114, 0.41);
    /* border-color: rgba(29, 28, 28, 0.805); */
}