body {
    margin: 0;
    /* background-image: radial-gradient(circle, #102234, #0e1f2f, #0d1c2a, #0b1825, #091520); */
    background-color: black !important;
    height: 100vh;
    color: white !important;
}

.app-container {
    width: 100%;
    height: 100%;
}

.content p, form, .content{
    /* border: 1px solid white; */
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.caption {
    font-size: 13px;
}

.content {
    box-shadow: 0 8px 30px rgba(255, 255, 255, 0.20);
    border-radius: 10px;
}

.poster {
    flex: 1;
    min-width: 0;
    height: 100%;
    overflow: hidden;
}

.poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-control {
    background-color: transparent !important;
    height: 50px;
    border-radius: 10px !important;
    color: white !important;
}

.form-control:focus, .checkbox:focus {
    border-color: rgba(255, 255, 255, 0.4) !important;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1) !important;
}

input::placeholder {
    color: gray !important;
}

.checkbox {
    background-color: transparent !important;
}

.content button {
    height: 50px;
}

.line {
    flex: 1;
    background-color: gray;
    height: 1px;
}

.login-btn:hover {
    color: gray !important;
    background-color: rgba(0, 0, 0, 0.13) !important;
    border: 1px solid white !important;
}

/* mobile view */
@media (max-width:768px) {
    .app-container {
        flex-direction: column;
    }

    .main-content {
        width: 100% !important;
        height: auto !important;
    }

    .poster {
        display: none; 
    }
}

/* smaller mobile view (ip 14pm) */
@media (max-width: 480px) {
    .poster {
        display: none;  
    }
}
